input,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 1rem;

}

.form-area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid #ccc;
}